{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Εγγραφή - TalaipAnap{% endblock %}

{% block page_content %}
<div class="visible-sm visible-xs">
    <p class="bg-info rounded">ια να λαμβάνετε τις προσλήψεις και τους πίνακες κατάταξης στο e-mail σας</p>
</div>

<div class="page-header">
    <h2>Εγγραφή</h2>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3 hidden-sm hidden-xs">
        <p class="bg-info rounded" style="font-size:15px">Για να λαμβάνετε τις προσλήψεις και τους πίνακες κατάταξης στο e-mail σας</p>
        &nbsp
        <p class="bg-warning rounded-no-pad" style="color:grey; font-size:12px; float: left"><i>(Δεν θα παρέχονται ενημερώσεις από τον αιρετό κ. Μπράτη)</i></p>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5" style="font-size:25px">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-2"></div>
</div>
&nbsp
<div class="row visible-xs visible-sm">
    <div class="col-md-7"></div>
    <div class="col-md-3" style="font-size:15px">
        <p></p>
        <p class="bg-warning rounded-no-pad" style="color:grey; font-size:12px"><i>(Δεν θα παρέχονται ενημερώσεις από τον αιρετό κ. Μπράτη)</i></p>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
