{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Εγγραφή - TalaipAnap{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Εγγραφή</h2>
</div>

<div class="row" align="center" style="font-size:20px">
    <p>Για να λαμβάνετε (όταν το φτιάξω) πρώτοι τις αναρτήσεις στο e-aitisi και τις προσλήψεις στο e-mail σας</p><span class="hidden-sm hidden-xs"></span>
</div>

<div class="row" style="font-size:25px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row"  align="center" style="color:grey">
    <p><span class="hidden-sm hidden-xs"><br></span><br><i>(Δεν θα παρέχονται ενημερώσεις από τον αιρετό κ. Μπράτη)</i></p>
</div>
{% endblock %}