.page-header {
  margin-top: 0px;
}

.bg-blue
{
    background-color: blue;
}

.lf-white li a {
    color: white;
}

.navbar-inverse {
  background-color: blue;
}

.navbar-inverse .container a {
  color: white;
}

.navbar-inverse .container li a {
  color: white;
}


.navbar-inverse .container .navbar-toggle {
  background-color: blue;
}



