.page-header {
  margin-top: 0px;
}

.bg-blue
{
    background-color: blue;
}

.lf-white li a {
    color: white;
}

.navbar-inverse {
  background-color: #6495ED;
}

.navbar-inverse .container a {
  color: white;
}

.navbar-inverse .container li a {
  color: white;
}


.navbar-inverse .container .navbar-toggle {
  background-color: #6495ED;
}

/*
.btn {
  color: white;
  background-color: #20b2aa;
}

table {
    table-layout: fixed;
    /* word-wrap: break-word; */
}

*/
.table-responsive {
     overflow: scroll;
     max-height: 450px;
}

div.dataTables_wrapper {
    margin: 0 auto;
}