{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Index{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Γεια σου ταλαίπωρε</h1>
</div>

{{ wtf.quick_form(form) }}

<br>
<p>Ημερομηνία και ώρα: {{ moment(current_time).format('LLLL') }}.</p>
<p>({{ moment(current_time).fromNow(refresh=True) }})</p>

{% endblock %}

{% block scripts %}
{{ super() }}
<script charset="utf-8" type="text/javascript">

$(function() {

    // jQuery selection for the select fields
    var dropdown = {
        sxoliko_etos: $('#select_sxoliko_etos'),
        kathgoria: $('#select_kathgoria'),
        klados: $('#select_klados'),
        hmeromhnia: $('#select_hmeromhnia')
    };

    // call to update on load
    //updateKathgories();
    //updateKladoi();

    // function to call XHR and update kathgoria dropdown
    function updateKathgories() {
        var send =  {
            sxoliko_etos: dropdown.sxoliko_etos.val()
        };
        dropdown.kathgoria.attr('disabled', 'disabled');
        dropdown.kathgoria.empty();
        $.getJSON("{{ url_for('_get_kathgories') }}", send, function(data) {
            data.forEach(function(item) {
                dropdown.kathgoria.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.kathgoria.removeAttr('disabled');
        });
    }

    // function to call XHR and update kladoi dropdown
    function updateKladoi() {
        var send =  {
            kathgoria: dropdown.kathgoria.val(),
            sxoliko_etos: dropdown.sxoliko_etos.val()
        };
        dropdown.klados.attr('disabled', 'disabled');
        dropdown.klados.empty();
        $.getJSON("{{ url_for('_get_kladoi') }}", send, function(data) {
            data.forEach(function(item) {
                dropdown.klados.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.klados.removeAttr('disabled');
        });
    }

    // event listeners to dropdown changes
    dropdown.sxoliko_etos.on('change', function() {
        updateKathgories();
    });

    dropdown.kathgoria.on('change', function() {
        updateKladoi();
    });

});

</script>
{% endblock %}