{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Index{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Γεια σου ταλαίπωρε</h1>
</div>

{{ wtf.form_field(form.sxoliko_etos) }}
asdas<br>
{{ form.sxoliko_etos(**{"onchange":"myFunction()"}) }}<br>
sdsfsc
{{ wtf.quick_form(form) }}

<form class="form form-horizontal" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

</form>

<h3>Σχ. έτος: {{ lektiko_sxolikoy_etoys }}
<br>id: {{ sxoliko_etos_id }}</h3>

<br>
<p>Ημερομηνία και ώρα: {{ moment(current_time).format('LLLL') }}.</p>
<p>({{ moment(current_time).fromNow(refresh=True) }})</p>

{% endblock %}
