Σχολικό έτος {{ sxoliko_etos_id }} {{ sxoliko_etos_lektiko }}<br>
Κατηγορία {{ kathgoria_id }} {{ kathgoria_lektiko }}<br>
Κλάδος {{ klados_id }} {{ klados_kodikos }} {{ klados_lektiko }}<br>
Ημερομηνία  {{ hmeromhnia_id }} {{ hmeromhnia_real }} {{ hmeromhnia_lektiko }}<br>
Πίνακας ΣΜΕΑΕ {{ smeae_pinakas_id }} {{ smeae_pinakas_lektiko }}<br>
Κατηγορία ΣΜΕΑΕ {{ smeae_kathgoria_id }} {{ smeae_kathgoria_lektiko }}<br>
Περιοχή {{ perioxh_id }} {{ perioxh_lektiko }}<br>
Μουσικό όργανο {{ mousiko_organo_id }} {{ mousiko_organo_lektiko }}<br>
Άθλημα {{ athlima_id }} {{ athlima_lektiko }}<br>
Real ειδικότητα {{ real_eidikothta_id }} {{ real_eidikothta_kodikos }} {{ real_eidikothta_lektiko }}<br>
{{ url_pinaka }}<br>
{{ path_pinaka }}<br>
{{ filename }}<br>
{{ path_filename }}<br>
{{ download_filename }}<br>