<p>Γεια σου {{ user.onoma }}</p>
<p>Καλωσόρισες στο <a href="{{ url_for('main.index', _external=True) }}">talaiporosanaplirotis.gr</a>, το site που θα σε συντροφεύει σ'αυτό το υπέροχο ταξίδι στη Δημόσια Εκπαίδευση</p>
<p>Προς το παρόν λειτουργεί μόνο η <a href="{{ url_for('main.index', _external=True) }}">Εύρεση Πίνακα</a>, για να μη βγάζεις τα μάτια σου στο <a href="http://e-aitisi.sch.gr">http://e-aitisi.sch.gr</a></p>
<p>Στο επόμενο στάδιο, το site θα προσφέρει αυτόματη αποστολή των πινάκων κατάταξης και προσλήψεων, άμα τη αναρτήσει τους, στο mail σου</p>
<p>(Τέρμα οι ενημερώσεις από πηγές στους διαδρόμους του Υπουργείου ότι σήμερα! όπου νά'ναι! τώρα δα, βγαίνουν! τελικά αύριο οι πίνακες-προσλήψεις, αλλά μια που είσαι εδώ δες 20 καταπληκτικά μέρη για διακοπές που δεν ήξερες ότι υπάρχουν, να κάνεις μερικά κλικ, να βγει κάνα φράγκο από διαφημίσεις όσο εσύ ιδρώνεις και ξεϊδρώνεις)</p>
<p>Ειλικρινά συμπάσχων,</p>
<p>Ο Talaiporos Admin</p>
