<p>Γεια σου {{ user.onoma }}</p>
<p>Καλωσόρισες στο <b><i>talaiporosanaplirotis.gr</i></b></p>
<p>Προς το παρόν λειτουργεί μόνο η <a href="{{ url_for('main.index', _external=True) }}">Εύρεση Πίνακα</a>, για να μη βγάζεις τα μάτια σου στο <a href="http://e-aitisi.sch.gr">http://e-aitisi.sch.gr</a></p>
<ul>Υπό κατασκευή
    <li>αυτόματη αποστολή των πινάκων κατάταξης και προσλήψεων, άμα τη αναρτήσει τους, στο mail σου</li>
    <li>εύρεση ονόματος και στοιχείων σε πίνακες</li>
    <li>και άλλα..</li>
</ul>
<p>Ευπρόσδεκτα σχόλια, παρατηρήσεις</p>
<p>Ο Talaiporos Admin</p>
