{% extends "base.html" %}

{% block title %}Προβολή πίνακα - TalaipAnap{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/sc-1.5.0/sl-1.2.6/datatables.min.css"/>

<style type="text/css">
    table, th, td { border: 1px solid black; }
</style>

<!-- Time count alert (also end(); at end of file)

<script charset="utf-8" type="text/javascript">

var startTime, endTime;

function start() {
  startTime = new Date();
};

function end() {
  endTime = new Date();
  var timeDiff = endTime - startTime; //in ms
  // strip the ms
  timeDiff /= 1000;

  // get seconds 
  var seconds = Math.round(timeDiff);
  alert(seconds + " seconds");
}
start();

</script> -->

{% endblock %}


{% block page_content %}
<!-- <div id="overlay" align="center">
     <img src="{{ url_for('static', filename = 'ajax-loader.gif') }}" alt="Loading" /><br>
     Παρακαλώ περιμένετε, ο πίνακας φορτώνει...
</div> -->

<div class="container">
    <div class="page-header">
        <h2>Προβολή πίνακα</h2>
        <p><h3 align="center">{{ download_filename[:-4] }}</h3>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-info rounded-no-pad">Eπιλέξτε μια ή περισσότερες γραμμές για επισήμανση</p>
        </div>
        <div class="col-md-6">
            <p class="bg-success rounded-no-pad">Βρείτε εγγραφές με την Αναζήτηση (Search)</p>
        </div>
    </div>

    <div class="row">
        <div id="display_table">

            <table class="cell-border" >
                <thead>
                    <tr>
                        {% for column in columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            </table>

        </div>
    </div>

    <div class="row hidden-xs">
        <div class="col-sm-6" align = "right">
            <p><a href="{{ url_for('main.download_remove') }}" class="btn btn-success btn-lg" id="pinakas_save" download="{{ download_filename }}">Αποθήκευση</a></p>
        </div>
        <div class="col-sm-6">
            <p><a href="/" class="btn btn-info btn-lg" id="anazhthsh_pinaka">Επιστροφή στην Αναζήτηση Πίνακα</a></p>
        </div>
    </div>


    <div class="row visible-xs" align = "center">
        <p><a href="{{ url_for('main.download_remove') }}" class="btn btn-success btn-lg" id="pinakas_save" download="{{ download_filename }}">Αποθήκευση</a></p>
    </div>
    <div class="row visible-xs" align = "center">
        <p><a href="/" class="btn btn-info btn-lg" id="anazhthsh_pinaka">Επιστροφή στην Αναζήτηση Πίνακα</a></p>
    </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>

<script type="text/javascript">

    // 
    $('#display_table').find('table').DataTable( {
        ajax: {
            url: "{{ txt_filename }}", 
            dataSrc: ""
        },
        scrollX: true,
        fixedColumns: true,
        select: true,
        deferRender: true
    } );

// end for time alert
// end();
</script>

<!-- <script charset="utf-8" type="text/javascript">
$(window).load(function(){
    // page fully loaded

    // // fade out overlay div
    // $('#overlay').fadeOut();
    
    // // show main div
    $('#main').show();
    // show table

    // $('#display_table').find('table').DataTable( {
    //     scrollX: true,
    //     fixedColumns: true,
    //     select: true,
    //     deferRender: true
    // } );

    

});
</script> -->
{% endblock %}




