{% extends "base.html" %}

{% block title %}Προβολή πίνακα - TalaipAnap{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.13/fc-3.2.2/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.0/datatables.min.css"/>
{% endblock %}


{% block page_content %}
<div class="container">
    <div class="page-header">
        <h2>Προβολή πίνακα</h2>
        <a href="{{ url_for('main.download_remove') }}" class="btn btn-success btn-lg" id="pinakas_save" download="{{ download_filename }}">Αποθήκευση</a>
    </div>

    <div id="display_table">
        {{ pinakas|safe }}
    </div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.13/fc-3.2.2/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.0/datatables.min.js"></script>

<script charset="utf-8" type="text/javascript">
$(document).ready(function() {
    $('#display_table').find('table').DataTable( {
        "scrollX": true,
        fixedColumns: {
            leftColumns: 1
        },
        select: true
    } );
} );


</script>
{% endblock %}


b-1.2.4/b-html5-1.2.4/b-print-1.2.4/fc-3.2.2/fh-3.1.2/r-2.1.1/se-1.2.0

/v/dt/dt-1.10.13/b-1.2.4/b-html5-1.2.4/b-print-1.2.4/fc-3.2.2/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.0/



