{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Αρχική - TalaipAnap{% endblock %}

{% block page_content %}
<div class="visible-sm visible-xs">
    <p class="bg-success rounded">Καλωσήρθατε στο talaiporosanaplirotis.gr</p>
    <p class="bg-info rounded">Βρείτε εύκολα τους πίνακες κατάταξης του e-aitisi.sch.gr..</p>
    <p class="bg-warning rounded">..και τις προσλήψεις απευθείας από το site του Υπουργείου (οσονούπω)</p>
</div>

<div class="page-header">
    <h2>Αναζήτηση πίνακα</h2>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3 hidden-xs hidden-sm" style="font-size:15px" align="center">
        <p></p>
        <p class="bg-success rounded">Καλωσήρθατε στο talaiporosanaplirotis.gr</p>
        <p class="bg-info rounded">Βρείτε εύκολα τους πίνακες κατάταξης του e-aitisi.sch.gr..</p>
        <p class="bg-warning rounded">..και τις προσλήψεις απευθείας από το site του Υπουργείου (οσονούπω)</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5" style="font-size:25px">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script charset="utf-8" type="text/javascript">

$(function() {

    // jQuery selection for the select fields
    var dropdown = {
        sxoliko_etos: $('#select_sxoliko_etos'),
        kathgoria: $('#select_kathgoria'),
        klados: $('#select_klados'),
        smeae_pinakas: $('#select_smeae_pinakas'),
        smeae_kathgoria: $('#select_smeae_kathgoria'),
        perioxh: $('#select_perioxh'),
        mousiko_organo: $('#select_mousiko_organo'),
        athlima: $('#select_athlima'),
        hmeromhnia: $('#select_hmeromhnia'),
    };

    // call to update on load
    updateKathgories();
    updateKladoi();
    dropdown.kathgoria.attr('disabled', 'disabled');
    dropdown.klados.attr('disabled', 'disabled');
    //dropdown.hmeromhnia.attr('disabled', 'disabled');   // hide too?


    hideDisableSetDefault('load');

    // function to call XHR and update kathgoria dropdown
    function updateKathgories() {
        var send =  {
            sxoliko_etos: dropdown.sxoliko_etos.val()
        };

        //alert(send.sxoliko_etos);

        dropdown.kathgoria.empty();
        dropdown.klados.empty();

        hideDisableSetDefault('sx etos select');

        //dropdown.klados.empty();
        //dropdown.hmeromhnia.empty();
        dropdown.klados.attr('disabled', 'disabled');
        //dropdown.hmeromhnia.attr('disabled', 'disabled');

        $.getJSON("{{ url_for('main._get_kathgories') }}", send, function(data) {
            data.forEach(function(item) {
                dropdown.kathgoria.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.kathgoria.removeAttr('disabled');
        });
    }

    // function to call XHR and update kladoi dropdown
    function updateKladoi() {
        var send =  {
            sxoliko_etos: dropdown.sxoliko_etos.val(),
            kathgoria: dropdown.kathgoria.val()
        };

        //alert(send.sxoliko_etos + "\n" + send.kathgoria);


        hideDisableSetDefault('kathgoria select');


        dropdown.klados.empty();
        //dropdown.hmeromhnia.empty();
        //dropdown.hmeromhnia.attr('disabled', 'disabled');

        $.getJSON("{{ url_for('main._get_kladoi') }}", send, function(data) {
            data.forEach(function(item) {
                dropdown.klados.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.klados.removeAttr('disabled');
        });
    }


    function updateFields() {
        var send =  {
            sxoliko_etos: dropdown.sxoliko_etos.val(),
            kathgoria: dropdown.kathgoria.val(),
            klados: dropdown.klados.val()
        };

        //alert(send.sxoliko_etos + "\n" + send.kathgoria + "\n" + send.klados);

        hideDisableSetDefault('klados select');

        $.getJSON("{{ url_for('main._get_fields') }}", send, function(data) {
            //alert(data)
            data.forEach(function(item) {
                //alert(item[0] + " " + item[1])
                var send = { ids: item[1] };

                if (item[0] == 'smeae_pinakes') {
                    $('label[for="select_smeae_pinakas"]').show();
                    dropdown.smeae_pinakas.disabled = false;
                    dropdown.smeae_pinakas.show();
                    dropdown.smeae_pinakas.empty();
                    $.getJSON("{{ url_for('main._get_smeae_pinakes') }}", send, function(data) {
                        data.forEach(function(item) {
                            dropdown.smeae_pinakas.append(
                                $('<option>', {
                                    value: item[0],
                                    text: item[1]
                                })
                            );
                        });
                    });
                };
                if (item[0] == 'smeae_kathgories') {
                    $('label[for="select_smeae_kathgoria"]').show();
                    dropdown.smeae_kathgoria.disabled = false;
                    dropdown.smeae_kathgoria.show();
                    dropdown.smeae_kathgoria.empty();
                    $.getJSON("{{ url_for('main._get_smeae_kathgories') }}", send, function(data) {
                        data.forEach(function(item) {
                            dropdown.smeae_kathgoria.append(
                                $('<option>', {
                                    value: item[0],
                                    text: item[1]
                                })
                            );
                        });
                    });
                };
                if (item[0] == 'perioxes') {
                    $('label[for="select_perioxh"]').show();
                    dropdown.perioxh.disabled = false;
                    dropdown.perioxh.show();
                    dropdown.perioxh.empty();
                    $.getJSON("{{ url_for('main._get_perioxes') }}", send, function(data) {
                        data.forEach(function(item) {
                            dropdown.perioxh.append(
                                $('<option>', {
                                    value: item[0],
                                    text: item[1]
                                })
                            );
                        });
                    });
                };
                if (item[0] == 'mousika_organa') {
                    $('label[for="select_mousiko_organo"]').show();
                    dropdown.mousiko_organo.disabled = false;
                    dropdown.mousiko_organo.show();
                    dropdown.mousiko_organo.empty();
                    $.getJSON("{{ url_for('main._get_mousika_organa') }}", send, function(data) {
                        data.forEach(function(item) {
                            dropdown.mousiko_organo.append(
                                $('<option>', {
                                    value: item[0],
                                    text: item[1]
                                })
                            );
                        });
                    });
                };
                if (item[0] == 'athlimata') {
                    $('label[for="select_athlima"]').show();
                    dropdown.athlima.disabled = false;
                    dropdown.athlima.show();
                    dropdown.athlima.empty();
                    $.getJSON("{{ url_for('main._get_athlimata') }}", send, function(data) {
                        data.forEach(function(item) {
                            dropdown.athlima.append(
                                $('<option>', {
                                    value: item[0],
                                    text: item[1]
                                })
                            );
                        });
                    });
                };
                if (item[0] == 'hmeromhnies') {
                    $('label[for="select_hmeromhnia"]').show();
                    dropdown.hmeromhnia.disabled = false;
                    dropdown.hmeromhnia.show();
                    dropdown.hmeromhnia.empty();
                    $.getJSON("{{ url_for('main._get_hmeromhnies') }}", send, function(data) {
                        data.forEach(function(item) {
                            dropdown.hmeromhnia.append(
                                $('<option>', {
                                    value: item[0],
                                    text: item[1]
                                })
                            );
                        });
                    });
                    //alert('hmnia after hmnies update' + dropdown.hmeromhnia.val());
                };
            });
        });
    }


    function updateRestFields() {
        var send = {
            sxoliko_etos: dropdown.sxoliko_etos.val(),
            kathgoria: dropdown.kathgoria.val(),
            klados: dropdown.klados.val(),
            field: arguments[0]
        };

        //alert('perioxh ' + dropdown.perioxh.val());
        //alert('hmnia after rest fields select' + dropdown.hmeromhnia.val());

        if (dropdown.smeae_pinakas.disabled == false) {
            send["smeae_pinakas"] = dropdown.smeae_pinakas.val()
        };
        if (dropdown.smeae_kathgoria.disabled == false) {
            send["smeae_kathgoria"] = dropdown.smeae_kathgoria.val()
        };
        if (dropdown.perioxh.disabled == false) {
            send["perioxh"] = dropdown.perioxh.val()
        };
        if (dropdown.mousiko_organo.disabled == false) {
            send["mousiko_organo"] = dropdown.mousiko_organo.val()
        };
        if (dropdown.athlima.disabled == false) {
            send["athlima"] = dropdown.athlima.val()
        };
        if (dropdown.hmeromhnia.disabled == false) {
            send["hmeromhnia"] = dropdown.hmeromhnia.val()
        };


        //for (key in send) {
            //alert('sending ' + key + ' ' + send[key]);
        //};

        $.getJSON("{{ url_for('main._update_fields') }}", send, function(data) {
            //alert('updated fields');
            data.forEach(function(item) {
                //alert(item[0] + " " + item[1])
                var send = { ids: item[1] };

                if (item[0] == 'hmeromhnies') {
                    dropdown.hmeromhnia.empty();
                    $.getJSON("{{ url_for('main._get_hmeromhnies') }}", send, function(data) {
                        data.forEach(function(item) {
                            //alert(item[0] + " " + item[1])
                            dropdown.hmeromhnia.append(
                                $('<option>', {
                                    value: item[0],
                                    text: item[1]
                                })
                            );
                        });
                    });
                };

            });
        });


    }


    // event listeners to dropdown changes
    dropdown.sxoliko_etos.on('change', function() {
        updateKathgories();
    });

    dropdown.kathgoria.on('change', function() {
        updateKladoi();
    });

    dropdown.klados.on('change', function() {
        updateFields();
    });

    dropdown.smeae_pinakas.on('change', function() {
        updateRestFields('smeae_pinakas');
    });

    dropdown.smeae_kathgoria.on('change', function() {
        updateRestFields('smeae_kathgoria');
    });

    dropdown.perioxh.on('change', function() {
        updateRestFields('perioxh');
    });

    dropdown.mousiko_organo.on('change', function() {
        updateRestFields('mousiko_organo');
    });

    dropdown.athlima.on('change', function() {
        updateRestFields('athlima');
    });

    dropdown.hmeromhnia.on('change', function() {
        //alert('selected hmnia ' + dropdown.hmeromhnia.val());
    });

    $('#submit').click(function() {

        if (dropdown.sxoliko_etos.val() == 0 || dropdown.sxoliko_etos.val() == null) {
            //alert('select sxoliko_etos: ' + dropdown.sxoliko_etos.val());
            alert('Επιλέξτε σχολικό έτος');
            return false;
        }

        if (dropdown.kathgoria.val() == 0 || dropdown.kathgoria.val() == null) {
            //alert('select kathgoria: ' + dropdown.kathgoria.val());
            alert('Επιλέξτε κατηγορία');
            return false;
        }

        if (dropdown.klados.val() == 0 || dropdown.klados.val() == null) {
            //alert('select klados: ' + dropdown.klados.val());
            alert('Επιλέξτε κλάδο');
            return false;
        }

        if (dropdown.smeae_pinakas.disabled == false && dropdown.smeae_pinakas.val() == 0) {
            //alert('select smeae pianakas: ' + dropdown.smeae_pinakas.val());
            alert('Επιλέξτε πίνακα ΣΜΕΑΕ');
            return false;
        }

        if (dropdown.smeae_kathgoria.disabled == false && dropdown.smeae_kathgoria.val() == 0) {
            //alert('select smeae_kathgoria: ' + dropdown.smeae_kathgoria.val());
            alert('Επιλέξτε κατηγορία ΣΜΕΑΕ');
            return false;
        }

        if (dropdown.perioxh.disabled == false && dropdown.perioxh.val() == 0) {
            //alert('select perioxh: ' + dropdown.perioxh.val());
            alert('Επιλέξτε περιοχή');
            return false;
        }

        if (dropdown.mousiko_organo.disabled == false && dropdown.mousiko_organo.val() == 0) {
            //alert('select some mousiko_organo bitxh! ' + dropdown.mousiko_organo.val());
            alert('Επιλέξτε μουσικό όργανο');
            return false;
        }

        if (dropdown.athlima.disabled == false && dropdown.athlima.val() == 0) {
            //alert('select athlima: ' + dropdown.athlima.val());
            alert('Επιλέξτε άθλημα');
            return false;
        }

        if (dropdown.hmeromhnia.val() == 0) {
            //alert('select hmeromhnia: ' + dropdown.hmeromhnia.val());
            alert('Επιλέξτε ημερομηνία');
            return false;
        }

        if (dropdown.hmeromhnia.val() == null) {
            // setting hmeromhnia to default
            //alert('hmeromhnia ' + dropdown.hmeromhnia.val());
            $('#select_hmeromhnia').append($('<option>', {
                value: 1,
                text: 'default'
            }));
            $("#select_hmeromhnia").val([1]);
        }
    });

    function hideDisableSetDefault(infunc) {
        $('label[for="select_hmeromhnia"]').hide();
        dropdown.hmeromhnia.hide();
        dropdown.hmeromhnia.disabled = true;
        $('#select_hmeromhnia').val([1]);

        $('label[for="select_smeae_pinakas"]').hide();
        dropdown.smeae_pinakas.hide();
        dropdown.smeae_pinakas.disabled = true;
        $('#select_smeae_pinakas').val([0]);

        $('label[for="select_smeae_kathgoria"]').hide();
        dropdown.smeae_kathgoria.hide();
        dropdown.smeae_kathgoria.disabled = true;
        $('#select_smeae_kathgoria').val([0]);

        $('label[for="select_perioxh"]').hide();
        dropdown.perioxh.hide();
        dropdown.perioxh.disabled = true;
        $('#select_perioxh').val([0]);

        $('label[for="select_mousiko_organo"]').hide();
        dropdown.mousiko_organo.hide();
        dropdown.mousiko_organo.disabled = true;
        $('#select_mousiko_organo').val([0]);

        $('label[for="select_athlima"]').hide();
        dropdown.athlima.hide();
        dropdown.athlima.disabled = true;
        $('#select_athlima').val([0]);

        //alert('hmnia after ' + infunc + ' ' + dropdown.hmeromhnia.val());
    }

});


</script>
{% endblock %}

